.image {
  height: 250px;
  transition: opacity 0.3s ease;
}

.image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
};